<div id="campaign-container">
	<div class="row">
		<div class="col-xs-2 col-sm-2">
			<ul class="nav main-menu sidebar">
				 <li>
					<a ui-serf="/" class="sideBarLia active">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">CAMPAIGNS</span>
					</a>
				</li>
				
				<li ng-repeat="campain in campains">
					<a ui-serf="/" class="sideBarLia active">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">{{ campain.name }}</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle sideBarLia">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">ENDED CAMPAIGNS</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/charts_xcharts.html">xCharts</a></li>
						<li><a class="ajax-link" href="ajax/charts_flot.html">Flot Charts</a></li>
						<li><a class="ajax-link" href="ajax/charts_google.html">Google Charts</a></li>
						<li><a class="ajax-link" href="ajax/charts_morris.html">Morris Charts</a></li>
						<li><a class="ajax-link" href="ajax/charts_coindesk.html">CoinDesk realtime</a></li>
					</ul>
				</li> 
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="">
			<div id="main-content"></div>
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->